@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
    --color-primary: #2E282A;
}

@plugin "daisyui/theme" {
    name: 'light';
    default: true;
    --color--primary: #2E282A;
}

html {
    height: 100%;
    background-color: #2E282A;
}