@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
    --color-primary: #2E282A;
}

@plugin "daisyui/theme" {
    name: 'light';
    default: true;
    --color--primary: #2E282A;
}

html,
body {
    height: 100vh;
    background-color: #f1f1f1;
}

input {
    outline: none;
}